@model SocialEditVM
@{
    ViewData["Title"] = "Edit";
}


<div class="card">
    <div class="card-body">
        <form class="forms-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputBlogTitle">Social Name</label>
                <input asp-for="Name" class="form-control" id="inputBlogTitle" placeholder="Title.." maxlength="100">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>
